a {
	display: block;
	width: 80%;
	text-decoration: none;
	text-align: center;
	padding: 1.7rem 1rem;
	margin: 0 auto;
	color: #000;
	font-size: 1.5rem;
	max-width: 370px;
}

#id_00_00 {@import '02_btns/id_00_00';}
#id_00_01 {@import '02_btns/id_00_01';}
#id_00_02 {@import '02_btns/id_00_02';}
#id_00_03 {@import '02_btns/id_00_03';}
#id_00_04 {@import '02_btns/id_00_04';}
#id_00_05 {@import '02_btns/id_00_05';}
#id_00_06 {@import '02_btns/id_00_06';}
#id_00_07 {@import '02_btns/id_00_07';}
#id_00_08 {@import '02_btns/id_00_08';}
#id_00_09 {@import '02_btns/id_00_09';}
#id_00_10 {@import '02_btns/id_00_10';}
#id_00_11 {@import '02_btns/id_00_11';}
#id_00_12 {@import '02_btns/id_00_12';}
#id_00_13 {@import '02_btns/id_00_13';}
#id_00_14 {@import '02_btns/id_00_14';}
#id_00_15 {@import '02_btns/id_00_15';}
#id_00_16 {@import '02_btns/id_00_16';}
#id_00_17 {@import '02_btns/id_00_17';}
#id_00_18 {@import '02_btns/id_00_18';}
#id_00_19 {@import '02_btns/id_00_19';}
#id_00_20 {@import '02_btns/id_00_20';}
#id_00_21 {@import '02_btns/id_00_21';}
#id_00_22 {@import '02_btns/id_00_22';}
#id_00_23 {@import '02_btns/id_00_23';}
#id_00_24 {@import '02_btns/id_00_24';}
#id_00_25 {@import '02_btns/id_00_25';}
#id_00_26 {@import '02_btns/id_00_26';}
#id_00_27 {@import '02_btns/id_00_27';}
#id_00_28 {@import '02_btns/id_00_28';}
#id_00_29 {@import '02_btns/id_00_29';}
#id_00_30 {@import '02_btns/id_00_30';}
#id_00_31 {@import '02_btns/id_00_31';}
#id_00_32 {@import '02_btns/id_00_32';}