@import "01_setting/var";
@import "01_setting/mixin";
@import "01_setting/sprite";

/*!  このファイルはSCSSからコンパイルされています。 */
/*
-----------------------------------------------------------
  Module
-----------------------------------------------------------
*/
@import "04_modules/bg";
@import "04_modules/box";
@import "04_modules/button";
@import "04_modules/head";
@import "04_modules/icon";
@import "04_modules/iconfont";
@import "04_modules/includeParts";
@import "04_modules/pager";
@import "04_modules/sprite";
@import "04_modules/table";
@import "04_modules/text";
@import "04_modules/title";
@import "04_modules/wrap";


$border_width: 2px;
$section_margtin: 100px;
section + section {
	margin-top: $section_margtin;
	padding-top: $section_margtin;
	border-top: $border_width * 2 solid #ddd;;
}
h1 {
	font-size: 3em;
	padding: 1em;
}
h2 {
	font-size: 2.5em;
	padding-left: 1em;
	+ p {
		padding-left: 2em;
		font-size: 1.3em;
		letter-spacing: 0.1em;
	}
}
.block {
	&__wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		&:after {
			display: block;clear: both;content: '';
		}
	}
	box-sizing: border-box;
	float: left;
	padding: 2em;
	border: $border_width solid #ddd;
	margin: (0-$border_width) 0 0 (0-$border_width);
	flex: 1 calc(100% / 4);
}