a{display:block;width:80%;text-decoration:none;text-align:center;padding:1.7rem 1rem;margin:0 auto;color:#000;font-size:1.5rem;max-width:370px}
#id_00_00 a{background-color:red;-webkit-transition:.3s;transition:.3s}
#id_00_00 a:hover{background-color:#00f}
#id_00_01 a{opacity:1;-webkit-transition:.3s;transition:.3s;background-color:#87ceeb}
#id_00_01 a:hover{opacity:.5}
#id_00_02 a{background-color:red;-webkit-transition:.3s;transition:.3s}
#id_00_02 a:hover{background-color:rgba(255,0,0,.5)}
#id_00_03 a{background-image:-webkit-linear-gradient(left,transparent 50%,#001e4b 50%);background-image:linear-gradient(to right,transparent 50%,#001e4b 50%);background-size:210% auto;background-position:0 0;-webkit-transition:background .3s ease 0s,color .3s ease .3s;transition:background .3s ease 0s,color .3s ease .3s}
#id_00_03 a:hover{background-position:-95% 0;color:#fff}
#id_00_04 a{background:-webkit-repeating-linear-gradient(135deg,#444,#444 2%,#888 0,#888 4%);background:repeating-linear-gradient(-45deg,#444,#444 2%,#888 0,#888 4%);background-size:100% auto;-webkit-transition:450ms;transition:450ms;background-position:0 0}
#id_00_04 a:hover{background-position:44.25% 0;background-size:5000% auto}
#id_00_05 a{border:2px solid #00f;background-image:-webkit-linear-gradient(left,transparent 50%,#00f 50%);background-image:linear-gradient(to right,transparent 50%,#00f 50%);background-size:210% auto;background-position:97% 0;-webkit-transition:.3s;transition:.3s}
#id_00_05 a:hover{background-position:0 0}
#id_00_06 a{background-image:url(https://unsplash.it/300/50/?gravity=east);background-position:center center;background-repeat:no-repeat;background-size:100% auto;-webkit-transition:.3s;transition:.3s}
#id_00_06 a:hover{background-size:110% auto}
#id_00_07 p{overflow:hidden}
#id_00_07 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_07 a:hover{-webkit-filter:blur(2px);filter:blur(2px)}
#id_00_08 p{overflow:hidden}
#id_00_08 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_08 a:hover{-webkit-filter:invert(75%);filter:invert(75%)}
#id_00_09 p{overflow:hidden}
#id_00_09 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_09 a:hover{-webkit-filter:contrast(150%);filter:contrast(150%)}
#id_00_10 p{overflow:hidden}
#id_00_10 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_10 a:hover{-webkit-filter:brightness(1.2);filter:brightness(1.2)}
#id_00_11 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_11 a:hover{-webkit-filter:grayscale(50%);filter:grayscale(50%)}
#id_00_12 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_12 a:hover{-webkit-filter:hue-rotate(150deg);filter:hue-rotate(150deg)}
#id_00_13 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_13 a:hover{-webkit-filter:sepia(60%);filter:sepia(60%)}
#id_00_14 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_14 a:hover{box-shadow:0 0 5px 5px rgba(0,0,0,.3)}
#id_00_15 a{background:url(https://unsplash.it/300/50/?gravity=east) center center no-repeat;background-size:cover;-webkit-transition:.3s;transition:.3s}
#id_00_15 a:hover{box-shadow:inset 0 0 5px 5px rgba(0,0,0,.3)}
#id_00_16 a{text-shadow:0 0 0 rgba(0,0,0,.5);-webkit-transition:.3s;transition:.3s}
#id_00_16 a:hover{text-shadow:10px 10px 0 rgba(0,0,0,.5)}
#id_00_17 a{text-shadow:0 0 0 rgba(0,0,0,.5);-webkit-transition:.3s;transition:.3s}
#id_00_17 a:hover{color:#fff;text-shadow:4px 0 8px rgba(0,0,0,.5),4px 4px 8px rgba(0,0,0,.5),0 4px 8px rgba(0,0,0,.5),-4px 4px 8px rgba(0,0,0,.5),-4px 0 8px rgba(0,0,0,.5),-4px -4px 8px rgba(0,0,0,.5),0 -4px 8px rgba(0,0,0,.5),-4px 0 8px rgba(0,0,0,.5)}
#id_00_18 a{border:1px solid #000;border-bottom-width:3px}
#id_00_18 a:hover{-webkit-transform:translateY(3px);-ms-transform:translateY(3px);transform:translateY(3px);margin-top:2px;border-bottom-width:1px}
#id_00_19 a{border:1px solid #333;-webkit-transition:.3s;transition:.3s}
#id_00_19 a:hover{border-radius:25px}
#id_00_20 a{letter-spacing:.1em;-webkit-transition:.3s;transition:.3s}
#id_00_20 a:hover{letter-spacing:1em;text-indent:1em}
#id_00_21 a{border:2px solid #333;-webkit-transition:.3s;transition:.3s}
#id_00_21 a:hover{-webkit-transform:skew(-20deg,0);-ms-transform:skew(-20deg,0);transform:skew(-20deg,0)}
#id_00_22 a{border:2px solid #333;-webkit-transition:.3s;transition:.3s}
#id_00_22 a:hover{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
#id_00_23 a{border:2px solid #333;-webkit-transition:.9s;transition:.9s}
#id_00_23 a:hover{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
#id_00_24 a{border:2px solid #333;-webkit-transition:.3s;transition:.3s}
#id_00_24 a:hover{-webkit-transform:rotate3d(1,.5,-.5,180deg);transform:rotate3d(1,.5,-.5,180deg)}
#id_00_25 a{border:2px solid #333;-webkit-transition:.3s;transition:.3s}
#id_00_25 a:hover{font-size:1.8rem}
#id_00_26 a{background:red}
#id_00_26 a:hover{-webkit-animation:id_00_26 5s linear 0s infinite alternate-reverse both;animation:id_00_26 5s linear 0s infinite alternate-reverse both}
@-webkit-keyframes id_00_26{0%{background:red}
10%{background:orange}
20%{background:pink}
30%{background:green}
40%{background:#87ceeb}
50%{background:brown}
60%{background:#000}
70%{background:pink}
80%{background:#00f}
90%{background:#ff0}
100%{background:gold}
}
@keyframes id_00_26{0%{background:red}
10%{background:orange}
20%{background:pink}
30%{background:green}
40%{background:#87ceeb}
50%{background:brown}
60%{background:#000}
70%{background:pink}
80%{background:#00f}
90%{background:#ff0}
100%{background:gold}
}
#id_00_27 a{border-width:2px;border-style:solid;border-left-color:#000;border-right-color:#000;border-top-color:#000;border-bottom-color:#000}
#id_00_27 a:hover{-webkit-animation:id_00_27 5s linear 0s infinite alternate-reverse both;animation:id_00_27 5s linear 0s infinite alternate-reverse both}
@-webkit-keyframes id_00_27{2%{border-top-color:#ff4500;border-right-color:#c71585;border-bottom-color:brown;border-left-color:#98fb98}
4%{border-top-color:pink;border-right-color:#c71585;border-bottom-color:green;border-left-color:orange}
6%{border-top-color:brown;border-right-color:#6a5acd;border-bottom-color:#00f;border-left-color:#000}
8%{border-top-color:#6a5acd;border-right-color:brown;border-bottom-color:gold;border-left-color:#d2691e}
10%{border-top-color:#98fb98;border-right-color:gold;border-bottom-color:brown;border-left-color:#ff0}
12%{border-top-color:#ff4500;border-right-color:#6a5acd;border-bottom-color:green;border-left-color:pink}
14%{border-top-color:#98fb98;border-right-color:#000;border-bottom-color:orange;border-left-color:#c71585}
16%{border-top-color:#c71585;border-right-color:#98fb98;border-bottom-color:#87ceeb;border-left-color:#98fb98}
18%{border-top-color:#ff0;border-right-color:#00f;border-bottom-color:#87ceeb;border-left-color:#00f}
20%{border-top-color:#000;border-right-color:#000;border-bottom-color:#ff4500;border-left-color:#87ceeb}
22%{border-top-color:#ff0;border-right-color:#000;border-bottom-color:#6a5acd;border-left-color:#00f}
24%{border-top-color:orange;border-right-color:#ff4500;border-bottom-color:brown;border-left-color:#000}
26%{border-top-color:green;border-right-color:#98fb98;border-bottom-color:#87ceeb;border-left-color:#d2691e}
28%{border-top-color:green;border-right-color:orange;border-bottom-color:#98fb98;border-left-color:brown}
30%{border-top-color:#98fb98;border-right-color:gold;border-bottom-color:#d2691e;border-left-color:#6a5acd}
32%{border-top-color:#6a5acd;border-right-color:orange;border-bottom-color:#d2691e;border-left-color:#000}
34%{border-top-color:#98fb98;border-right-color:pink;border-bottom-color:red;border-left-color:#6a5acd}
36%{border-top-color:red;border-right-color:#00f;border-bottom-color:green;border-left-color:#87ceeb}
38%{border-top-color:green;border-right-color:#d2691e;border-bottom-color:#00f;border-left-color:brown}
40%{border-top-color:green;border-right-color:#87ceeb;border-bottom-color:#98fb98;border-left-color:#c71585}
42%{border-top-color:red;border-right-color:#6a5acd;border-bottom-color:red;border-left-color:#ff0}
44%{border-top-color:#98fb98;border-right-color:#98fb98;border-bottom-color:#000;border-left-color:#87ceeb}
46%{border-top-color:orange;border-right-color:green;border-bottom-color:#ff0;border-left-color:#87ceeb}
48%{border-top-color:#87ceeb;border-right-color:#6a5acd;border-bottom-color:#87ceeb;border-left-color:#87ceeb}
50%{border-top-color:#ff0;border-right-color:orange;border-bottom-color:pink;border-left-color:orange}
52%{border-top-color:brown;border-right-color:green;border-bottom-color:brown;border-left-color:#87ceeb}
54%{border-top-color:pink;border-right-color:brown;border-bottom-color:gold;border-left-color:#6a5acd}
56%{border-top-color:#87ceeb;border-right-color:#000;border-bottom-color:#d2691e;border-left-color:#87ceeb}
58%{border-top-color:#000;border-right-color:#87ceeb;border-bottom-color:gold;border-left-color:#87ceeb}
60%{border-top-color:green;border-right-color:red;border-bottom-color:gold;border-left-color:#d2691e}
62%{border-top-color:#c71585;border-right-color:red;border-bottom-color:#87ceeb;border-left-color:#000}
64%{border-top-color:#000;border-right-color:#ff0;border-bottom-color:#c71585;border-left-color:#87ceeb}
66%{border-top-color:red;border-right-color:pink;border-bottom-color:#c71585;border-left-color:pink}
68%{border-top-color:#98fb98;border-right-color:pink;border-bottom-color:green;border-left-color:#98fb98}
70%{border-top-color:gold;border-right-color:#c71585;border-bottom-color:#6a5acd;border-left-color:#ff4500}
72%{border-top-color:#d2691e;border-right-color:#ff4500;border-bottom-color:brown;border-left-color:gold}
74%{border-top-color:#6a5acd;border-right-color:#00f;border-bottom-color:#d2691e;border-left-color:red}
76%{border-top-color:#d2691e;border-right-color:gold;border-bottom-color:brown;border-left-color:gold}
78%{border-top-color:#98fb98;border-right-color:#00f;border-bottom-color:green;border-left-color:#000}
80%{border-top-color:red;border-right-color:#c71585;border-bottom-color:#6a5acd;border-left-color:#00f}
82%{border-top-color:#000;border-right-color:#ff4500;border-bottom-color:#c71585;border-left-color:green}
84%{border-top-color:#98fb98;border-right-color:#000;border-bottom-color:brown;border-left-color:#00f}
86%{border-top-color:#c71585;border-right-color:#6a5acd;border-bottom-color:#c71585;border-left-color:#00f}
88%{border-top-color:pink;border-right-color:#c71585;border-bottom-color:#ff4500;border-left-color:green}
90%{border-top-color:red;border-right-color:#c71585;border-bottom-color:#87ceeb;border-left-color:#c71585}
92%{border-top-color:#c71585;border-right-color:red;border-bottom-color:#d2691e;border-left-color:pink}
94%{border-top-color:#ff4500;border-right-color:#98fb98;border-bottom-color:#87ceeb;border-left-color:#ff0}
96%{border-top-color:orange;border-right-color:gold;border-bottom-color:#87ceeb;border-left-color:#00f}
98%{border-top-color:red;border-right-color:green;border-bottom-color:green;border-left-color:orange}
100%{border-top-color:#00f;border-right-color:orange;border-bottom-color:green;border-left-color:#d2691e}
}
@keyframes id_00_27{2%{border-top-color:#ff4500;border-right-color:#c71585;border-bottom-color:brown;border-left-color:#98fb98}
4%{border-top-color:pink;border-right-color:#c71585;border-bottom-color:green;border-left-color:orange}
6%{border-top-color:brown;border-right-color:#6a5acd;border-bottom-color:#00f;border-left-color:#000}
8%{border-top-color:#6a5acd;border-right-color:brown;border-bottom-color:gold;border-left-color:#d2691e}
10%{border-top-color:#98fb98;border-right-color:gold;border-bottom-color:brown;border-left-color:#ff0}
12%{border-top-color:#ff4500;border-right-color:#6a5acd;border-bottom-color:green;border-left-color:pink}
14%{border-top-color:#98fb98;border-right-color:#000;border-bottom-color:orange;border-left-color:#c71585}
16%{border-top-color:#c71585;border-right-color:#98fb98;border-bottom-color:#87ceeb;border-left-color:#98fb98}
18%{border-top-color:#ff0;border-right-color:#00f;border-bottom-color:#87ceeb;border-left-color:#00f}
20%{border-top-color:#000;border-right-color:#000;border-bottom-color:#ff4500;border-left-color:#87ceeb}
22%{border-top-color:#ff0;border-right-color:#000;border-bottom-color:#6a5acd;border-left-color:#00f}
24%{border-top-color:orange;border-right-color:#ff4500;border-bottom-color:brown;border-left-color:#000}
26%{border-top-color:green;border-right-color:#98fb98;border-bottom-color:#87ceeb;border-left-color:#d2691e}
28%{border-top-color:green;border-right-color:orange;border-bottom-color:#98fb98;border-left-color:brown}
30%{border-top-color:#98fb98;border-right-color:gold;border-bottom-color:#d2691e;border-left-color:#6a5acd}
32%{border-top-color:#6a5acd;border-right-color:orange;border-bottom-color:#d2691e;border-left-color:#000}
34%{border-top-color:#98fb98;border-right-color:pink;border-bottom-color:red;border-left-color:#6a5acd}
36%{border-top-color:red;border-right-color:#00f;border-bottom-color:green;border-left-color:#87ceeb}
38%{border-top-color:green;border-right-color:#d2691e;border-bottom-color:#00f;border-left-color:brown}
40%{border-top-color:green;border-right-color:#87ceeb;border-bottom-color:#98fb98;border-left-color:#c71585}
42%{border-top-color:red;border-right-color:#6a5acd;border-bottom-color:red;border-left-color:#ff0}
44%{border-top-color:#98fb98;border-right-color:#98fb98;border-bottom-color:#000;border-left-color:#87ceeb}
46%{border-top-color:orange;border-right-color:green;border-bottom-color:#ff0;border-left-color:#87ceeb}
48%{border-top-color:#87ceeb;border-right-color:#6a5acd;border-bottom-color:#87ceeb;border-left-color:#87ceeb}
50%{border-top-color:#ff0;border-right-color:orange;border-bottom-color:pink;border-left-color:orange}
52%{border-top-color:brown;border-right-color:green;border-bottom-color:brown;border-left-color:#87ceeb}
54%{border-top-color:pink;border-right-color:brown;border-bottom-color:gold;border-left-color:#6a5acd}
56%{border-top-color:#87ceeb;border-right-color:#000;border-bottom-color:#d2691e;border-left-color:#87ceeb}
58%{border-top-color:#000;border-right-color:#87ceeb;border-bottom-color:gold;border-left-color:#87ceeb}
60%{border-top-color:green;border-right-color:red;border-bottom-color:gold;border-left-color:#d2691e}
62%{border-top-color:#c71585;border-right-color:red;border-bottom-color:#87ceeb;border-left-color:#000}
64%{border-top-color:#000;border-right-color:#ff0;border-bottom-color:#c71585;border-left-color:#87ceeb}
66%{border-top-color:red;border-right-color:pink;border-bottom-color:#c71585;border-left-color:pink}
68%{border-top-color:#98fb98;border-right-color:pink;border-bottom-color:green;border-left-color:#98fb98}
70%{border-top-color:gold;border-right-color:#c71585;border-bottom-color:#6a5acd;border-left-color:#ff4500}
72%{border-top-color:#d2691e;border-right-color:#ff4500;border-bottom-color:brown;border-left-color:gold}
74%{border-top-color:#6a5acd;border-right-color:#00f;border-bottom-color:#d2691e;border-left-color:red}
76%{border-top-color:#d2691e;border-right-color:gold;border-bottom-color:brown;border-left-color:gold}
78%{border-top-color:#98fb98;border-right-color:#00f;border-bottom-color:green;border-left-color:#000}
80%{border-top-color:red;border-right-color:#c71585;border-bottom-color:#6a5acd;border-left-color:#00f}
82%{border-top-color:#000;border-right-color:#ff4500;border-bottom-color:#c71585;border-left-color:green}
84%{border-top-color:#98fb98;border-right-color:#000;border-bottom-color:brown;border-left-color:#00f}
86%{border-top-color:#c71585;border-right-color:#6a5acd;border-bottom-color:#c71585;border-left-color:#00f}
88%{border-top-color:pink;border-right-color:#c71585;border-bottom-color:#ff4500;border-left-color:green}
90%{border-top-color:red;border-right-color:#c71585;border-bottom-color:#87ceeb;border-left-color:#c71585}
92%{border-top-color:#c71585;border-right-color:red;border-bottom-color:#d2691e;border-left-color:pink}
94%{border-top-color:#ff4500;border-right-color:#98fb98;border-bottom-color:#87ceeb;border-left-color:#ff0}
96%{border-top-color:orange;border-right-color:gold;border-bottom-color:#87ceeb;border-left-color:#00f}
98%{border-top-color:red;border-right-color:green;border-bottom-color:green;border-left-color:orange}
100%{border-top-color:#00f;border-right-color:orange;border-bottom-color:green;border-left-color:#d2691e}
}
#id_00_28 a{-webkit-transition:.3s;transition:.3s;box-shadow:0 0 8px 6px #ddd}
#id_00_28 a:hover{-webkit-animation:id_00_28 1s linear 0s infinite normal;animation:id_00_28 1s linear 0s infinite normal}
@-webkit-keyframes id_00_28{0%{box-shadow:0 -5px 8px 6px #ddd}
12.5%{box-shadow:5px -5px 8px 6px #ddd}
25%{box-shadow:5px 0 8px 6px #ddd}
37.5%{box-shadow:5px 5px 8px 6px #ddd}
50%{box-shadow:0 5px 8px 6px #ddd}
62.5%{box-shadow:-5px 5px 8px 6px #ddd}
75%{box-shadow:-5px 0 8px 6px #ddd}
87.5%{box-shadow:-5px -5px 8px 6px #ddd}
100%{box-shadow:0 -5px 8px 6px #ddd}
}
@keyframes id_00_28{0%{box-shadow:0 -5px 8px 6px #ddd}
12.5%{box-shadow:5px -5px 8px 6px #ddd}
25%{box-shadow:5px 0 8px 6px #ddd}
37.5%{box-shadow:5px 5px 8px 6px #ddd}
50%{box-shadow:0 5px 8px 6px #ddd}
62.5%{box-shadow:-5px 5px 8px 6px #ddd}
75%{box-shadow:-5px 0 8px 6px #ddd}
87.5%{box-shadow:-5px -5px 8px 6px #ddd}
100%{box-shadow:0 -5px 8px 6px #ddd}
}
#id_00_29 a{outline:3px solid red;border:6px groove #00f;box-shadow:0 0 0 7px pink;-webkit-transition:.3s;transition:.3s}
#id_00_29 a:hover{outline-color:pink;border-color:red;box-shadow:0 0 0 7px red}
#id_00_30 a{background:-webkit-linear-gradient(transparent 80%,red 20%);background:linear-gradient(transparent 80%,red 20%);background-size:0 auto;-webkit-transition:.6s linear;transition:.6s linear}
#id_00_30 a:hover{background-size:100% auto}
#id_00_31 a{background:-webkit-linear-gradient(right,#f66 10%,#f90 20%,#fc0 30%,#9c0 40%,#6c6 50%,#0cc 60%,#39f 70%,#96f 80%,#c6c 90%,#f69 100%);background:linear-gradient(right,#f66 10%,#f90 20%,#fc0 30%,#9c0 40%,#6c6 50%,#0cc 60%,#39f 70%,#96f 80%,#c6c 90%,#f69 100%);background-repeat:repeat;background-size:1000% auto;-webkit-transition:1s;transition:1s}
#id_00_31 a:hover{-webkit-animation:id_00_31 20s linear 0s infinite normal;animation:id_00_31 20s linear 0s infinite normal}
@-webkit-keyframes id_00_31{0%{background-position:0 0}
100%{background-position:1000% 0}
}
@keyframes id_00_31{0%{background-position:0 0}
100%{background-position:1000% 0}
}
#id_00_32 a{background:-webkit-linear-gradient(right,#ff0 50%,red 50%);background:linear-gradient(right,#ff0 50%,red 50%);background-size:200% auto;-webkit-transition:.6s linear;transition:.6s linear;background-position:0 0}
#id_00_32 a:hover{background-size:10px auto}
/*# sourceMappingURL=maps/btn.css.map */
