// 自動生成

@mixin mix_undefinedpcundefinedairplane($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -110px 0px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -110px 0px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedattachment($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -110px -330px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -110px -330px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedbroken-heart($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px -110px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px -110px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedbrowser($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -110px -110px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -110px -110px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedcancel($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -220px 0px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -220px 0px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedclock-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -220px -110px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -220px -110px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedclock($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px -220px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px -220px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedcloud-computing($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -110px -220px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -110px -220px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedcompass($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -220px -220px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -220px -220px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedcomputer($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -330px 0px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -330px 0px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedcursor($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -330px -110px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -330px -110px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefineddocument-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -330px -220px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -330px -220px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefineddocument-2($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px -330px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px -330px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefineddocument-3($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px 0px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px 0px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefineddocument($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -220px -330px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -220px -330px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefineddownload($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -330px -330px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -330px -330px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedearth-globe($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -440px 0px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -440px 0px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedemail($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -440px -110px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -440px -110px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedfilm($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -440px -220px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -440px -220px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedfolder($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -440px -330px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -440px -330px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedgamepad($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px -440px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px -440px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedgroup($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -110px -440px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -110px -440px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedheart($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -220px -440px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -220px -440px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedinternet($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -330px -440px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -330px -440px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedlayers($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -440px -440px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -440px -440px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedleft-alignment($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -550px 0px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -550px 0px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedpcundefinedlight-bulb($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -550px -110px;
		background-size: auto;
		width: 100px;
		height: 100px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -550px -110px;
			background-size: auto;
			width: 100px;
			height: 100px;
			
			display: inline-block;
		}
	}
}