// 自動生成

@mixin mix_undefinedspundefinedmail($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -55px 0px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -55px 0px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedmicrophone($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -165px -165px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -165px -165px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinednotification($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: 0px -55px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: 0px -55px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedpadlock($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -55px -55px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -55px -55px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedpencil($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -110px 0px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -110px 0px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedphone-book-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -110px -55px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -110px -55px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedphone-book($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: 0px -110px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: 0px -110px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedpicture-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -55px -110px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -55px -110px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedpicture($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -110px -110px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -110px -110px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedplaceholder($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -165px 0px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -165px 0px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedpush-pin($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -165px -55px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -165px -55px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedright-alignment($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -165px -110px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -165px -110px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedsettings($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: 0px -165px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: 0px -165px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedshare($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -55px -165px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -55px -165px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedshield-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -110px -165px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -110px -165px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedshield-2($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: 0px 0px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: 0px 0px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedshield($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -220px 0px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -220px 0px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedsmartphone($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -220px -55px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -220px -55px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedspeech-bubble-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -220px -110px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -220px -110px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedspeech-bubble($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -220px -165px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -220px -165px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedtablet($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: 0px -220px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: 0px -220px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedunlock($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -55px -220px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -55px -220px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedupload($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -110px -220px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -110px -220px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefineduser-1($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -165px -220px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -165px -220px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefineduser-2($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -220px -220px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -220px -220px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefineduser-3($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -275px 0px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -275px 0px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefineduser($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -275px -55px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -275px -55px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedvolume($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -275px -110px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -275px -110px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedzoom-in($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -275px -165px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -275px -165px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}

@mixin mix_undefinedspundefinedzoom-out($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_sp.png);
		
		background-size: 325px 270px;
		background-position: -275px -220px;
		width: 50px;
		height: 50px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_sp.png);
			
			background-size: 325px 270px;
			background-position: -275px -220px;
			width: 50px;
			height: 50px;
			
			display: inline-block;
		}
	}
}