|</div>
// #main
|</div>
// #contents
a.js_pagetop.pagetop(href="#top") PAGE TOPppppppppp
footer#footer(role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter")
	.copyright
		small Copyright&nbsp;2017&nbsp;rtr-x8&nbsp;All&nbsp;Rights&nbsp;Reserved.
// /footer#footer
|</div>
// #wrapper
script(src="js/jquery.js")
script(src='js/common.min.js')
|<?php // include('tag.php'); ?>
|</body>
|</html>