|<!DOCTYPE html>
|<html lang="ja">
head
	meta(charset='utf-8')
	title 
	meta(name="viewport" content="width=device-width,user-scalable=no")
	meta(name="description", content="CSSでたくさんのボタンを作りました")
	meta(name="keywords", content="css,ボタン,アニメーション")
	link(rel='stylesheet', href='css/reset.css')
	link(rel='stylesheet', href='css/page.css')
	link(rel='stylesheet', href='css/btn.css')
	link(rel="stylesheet" href!="//fonts.googleapis.com/earlyaccess/notosansjapanese.css")
	include _template/favicons.html
	<!--[if lt IE 9]>
	script(src='/js/html5shiv.js')
	<![endif]-->
	<!--[if lte IE 9]>
	script.
		jQuery(function($) {$("*").removeClass (function (index, css) {
			return (css.match (/c3_\S+/g) || []).join(' ');
		});});
	<![endif]-->
|<body>
#loader
|<div id="wrapper">
header#header.cf(role="banner", itemscope, itemtype="http://schema.org/WPHeader"): .c_wrap01
	h1 ひたすらボタン
	//-nav.nav.is_close.js_navi(role="navigation", itemscope, itemtype="http://www.schema.org/SiteNavigationElement")
		ul.c_cf.list
			li.list-item.list-item01(itemprop="name"): a(href="#info", itemprop="URL")
				span
			li.list-item.list-item01(itemprop="name"): a(href="#info", itemprop="URL")
				span
			li.list-item.list-item01(itemprop="name"): a(href="#info", itemprop="URL")
				span
// /header#header
|<div class="contents"><div id="main"><main role="main">