mixin btn_scss_code(id)
	case id
		when 'id_00_00'
			include scss/02_btns/_id_00_00.scss
		when 'id_00_01'
			include scss/02_btns/_id_00_01.scss
		when 'id_00_02'
			include scss/02_btns/_id_00_02.scss
		when 'id_00_03'
			include scss/02_btns/_id_00_03.scss
		when 'id_00_04'
			include scss/02_btns/_id_00_04.scss
		when 'id_00_05'
			include scss/02_btns/_id_00_05.scss
		when 'id_00_06'
			include scss/02_btns/_id_00_06.scss
		when 'id_00_07'
			include scss/02_btns/_id_00_07.scss
		when 'id_00_08'
			include scss/02_btns/_id_00_08.scss
		when 'id_00_09'
			include scss/02_btns/_id_00_09.scss
		when 'id_00_10'
			include scss/02_btns/_id_00_10.scss
		when 'id_00_11'
			include scss/02_btns/_id_00_11.scss
		when 'id_00_12'
			include scss/02_btns/_id_00_12.scss
		when 'id_00_13'
			include scss/02_btns/_id_00_13.scss
		when 'id_00_14'
			include scss/02_btns/_id_00_14.scss
		when 'id_00_15'
			include scss/02_btns/_id_00_15.scss
		when 'id_00_16'
			include scss/02_btns/_id_00_16.scss
		when 'id_00_17'
			include scss/02_btns/_id_00_17.scss
		when 'id_00_18'
			include scss/02_btns/_id_00_18.scss
		when 'id_00_19'
			include scss/02_btns/_id_00_19.scss
		when 'id_00_20'
			include scss/02_btns/_id_00_20.scss
		when 'id_00_21'
			include scss/02_btns/_id_00_21.scss
		when 'id_00_22'
			include scss/02_btns/_id_00_22.scss
		when 'id_00_23'
			include scss/02_btns/_id_00_23.scss
		when 'id_00_24'
			include scss/02_btns/_id_00_24.scss
		when 'id_00_25'
			include scss/02_btns/_id_00_25.scss
		when 'id_00_26'
			include scss/02_btns/_id_00_26.scss
		when 'id_00_27'
			include scss/02_btns/_id_00_27.scss
		when 'id_00_28'
			include scss/02_btns/_id_00_28.scss
		when 'id_00_29'
			include scss/02_btns/_id_00_29.scss
		when 'id_00_30'
			include scss/02_btns/_id_00_30.scss
		when 'id_00_31'
			include scss/02_btns/_id_00_31.scss
		when 'id_00_32'
			include scss/02_btns/_id_00_32.scss
		
		
		