block vars
//-|<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/header.php'); ?>
include _header
block content
|</main>
block outerMain
//-|<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/footer.php'); ?>
include _footer