/*! #base
=========================================== */
%base_font {
	font-family:"Noto Sans Japanese","メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
	font-style: normal;
	color: $base_text_color;
	font-weight: normal;
	text-decoration: none;
	font-size: $base_font_size;
	letter-spacing: $base_letter_spacing;
	line-height: $base_line_height;
}

body {
	@extend %base_font;
	@media screen and ($mediaQuery01) {&{}}
}
.contents {
	&:after {
		display: block;clear: both;content: '';
	}
}
.c_cf, .cf, .clearfix {
	&:after {
		display: block;
		clear: both;
		content: '';
	}
}
.viewPc {
	display: none;
	@media screen and ($mediaQuery01) {&{display: block;}}
}
.viewSp {
	display: block;
	@media screen and ($mediaQuery01) {&{display: none;}}
}
/*! styleguide用
=========================================== */
.fn-preview,.fn-pre {
	padding: 35px 80px 40px 50px;
}
.fn-preview{letter-spacing: 0.05em;color: #666;line-height: 2;font-size: 14px;background-color: rgb(250,250,250);}

.dev_fl01 {float: left;width: 100px;height: 100px;text-align: center;box-sizing: border-box;padding-top: 20px;color: #000;}
.dev_fl02 {
	float: left;
	margin: 10px;
	padding: 20px 0;
	width: 300px;
	text-align: center;
	border: 5px outset #ddd;
}


/*! reset
=========================================== */
/*! table
------------------------------ */
table {
	width: 100%;
	tbody {
		width: 100%;
	}
	th, td {
	}
	tr:first-child {
		th,td {

		}
	}
	th {
	}
}
/*! form
------------------------------ */
input, select, button, textarea {
	@extend %base_font;
	border-width: 1px;
	padding: 0;
	margin: 0;
	outline: none;
}
/*! インライン
------------------------------ */
b {font-weight: bold;}
i {font-style: italic;}
a {color: $base_link_color;}
address {font-style: normal;}