a {
	border: 2px solid  blue;
	background: {
		image: linear-gradient(to right,transparent 50%, blue 50%);
		size: 210% auto;
		position: 97% 0;
	}
	transition: 300ms;
	&:hover {
		background-position: 0 0;
	}
}