a {
	background:{
		image: url('https://unsplash.it/300/50/?gravity=east');
		position: center center;
		repeat: no-repeat;
		size: 100% auto;
	};
	transition: 300ms;
	&:hover {
		background-size: 105% auto;
	}
}